<div class="row">
    <div class="main">
        <div class="card">
            <div class="container">
                <h2 style="text-align: center;">Test of {{subjectName}}</h2>
                <h2 style="text-align: center;">Start test of level {{level}}</h2>
                <h3 style="text-align: center;">Duration : 1 Hour</h3>
                <h3 style="text-align: center;">Questions : 5</h3>
                <p>For more details about you tests you have taken </p><button type="button" (click)="details()"> Details</button>
                <button type="button" (click)="startTest()"> Start test</button><br/><br/><br/><br/>
                <div style="text-align:right;"><a routerLink='/login' (click)="logout()">Logout</a></div>

            </div>
        </div>
    </div>
</div>