<div class="row">
    <div class="main">
        <div class="card">
            <h2 style="text-align: center;">Add Questions</h2>
            <table class="table table-bordered">
                <tr *ngIf="subject">
                    <th>Subject Name</th>
                    
                </tr>
                <tr *ngFor="let sub of subject">
                    <td>{{sub.subjecName}}</td>
                    <td><button type="button" (click)="addQuestion(sub)"> Add Question</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
