<div class="row">
  <div class="main">
    <div class="card">
      <h2 style="text-align: center;">Reports</h2>
      <div class="container">
        <h2 style="text-align: center;">Fill all Fields to view Report</h2>
        <form (ngSubmit)="FetchReport()">
          Enter subjecName : <input type="text" name="t1" [(ngModel)]=customFetchDto.subjecName /> <br />
          Enter state : <input type="text" name="t2" [(ngModel)]=customFetchDto.state /> <br />
          Enter city : <input type="text" name="t3" [(ngModel)]=customFetchDto.city /> <br />
          Enter Level : <input type="text" name="t5" [(ngModel)]=customFetchDto.level /> <br />
          Enter marks : <input type="text" name="t4" [(ngModel)]=customFetchDto.marks /> <br />
          <button type="submit">View </button>
        </form>
        <table class="table table-bordered">
          <tr *ngIf="reports">
            <th>ID</th>
            <th>Score</th>
            <th>Cleared Level</th>
            <th>Total Score</th>
          </tr>
          <tr *ngFor="let sub of reports">
            <td>{{sub.reportId}}</td>
            <td>{{sub.testScore}}</td>
            <td>{{sub.clearedLevel}}</td>
            <td>{{sub.totalScore}}</td>
            <td><button type="button" (click)="showDetails(sub)"> More Details</button></td>
          </tr>
        </table>
      </div>
      <div *ngIf="showReport">
        <h2 style="text-align: center;">Report</h2>
        <div class="container">

          <h3>User Details:</h3><br />

          <p>Name : {{showReport.name}}</p>
          <p>Email ID : {{showReport.email}}</p>
          <p>Mobile : {{showReport.mobile}}</p>
          <p>City : {{showReport.city}}</p>
          <p>State : {{showReport.state}}</p>
          <p>Qualification : {{showReport.qualification}}</p><br />

          <h3>Test Details:</h3><br />
          
          <p>Subject : {{showReport.subjecName}}</p>
          <p>Cleared Level : {{showReport.level}}</p>
          <p>Score : {{showReport.testScore}}</p>
          <p>Score Out Of : {{showReport.totalScore}}</p>
          <p>Percentage : {{percentage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>