<div class="row">
  <div class="main">
    <div class="card">
      <h2 style="text-align: center;">Register to Online exam </h2>
      <form name="form1" id="form1">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username">

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="pass">

          <label for="email"><b>Email Address</b></label>
          <input type="email" placeholder="Enter Email Address" name="email" id="email">

          <label for="city"><b>City</b></label>
          <input type="text" placeholder="Enter City" name="city" id="city">

          <label for="mobile"><b>Mobile No.</b></label>
          <input type="tel" placeholder="Enter Mobile Number" name="mobile" id="mobile">

          <button type="submit" id="register" (submit)="register()">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>