<div class="row">
    <div class="main">
        <div class="card">
            <h2 style="text-align: center;">Test on {{subjectName}}</h2>

            <form #userform="ngForm" (ngSubmit)="createReport()">
                <div class="container">
                    <div *ngIf="ques">


                        <p>{{ques.questionName}}</p>
                        <input type="radio" name="rdquestion" [(ngModel)]="rdOption" value="{{ques.option1}}">{{ques.option1}}<br />
                        <input type="radio" name="rdquestion"  [(ngModel)]="rdOption" value="{{ques.option2}}">{{ques.option2}}<br />
                        <input type="radio" name="rdquestion"  [(ngModel)]="rdOption" value="{{ques.option3}}">{{ques.option3}}<br />
                        <input type="radio" name="rdquestion"  [(ngModel)]="rdOption" value="{{ques.option4}}">{{ques.option4}}<br /><br />

                        <button *ngIf="isNext" type="button" (click)="next(ques)"> Next</button>
                        <button type="submit">Submit</button>

                    </div>
                    <div *ngIf="isSubmit">
                        <h2 style="text-align: center;">Submit the test</h2>
                        <button type="button" (click)="first()"> Go to First Question</button>
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
            <div *ngIf="isCleared">
                <div class="container">
                    <h2 style="text-align: center;">Congratulations!! You cleared the test!! </h2><br/>
                    <button type="button" (click)="goHome()"> Home</button>
                    <button type="button" (click)="nextLevel()"> Give Test of Next Level</button>
                </div>
            </div>
            <div *ngIf="isFailed">
                <div class="container">
                    <h2 style="text-align: center;">Sorry..You could not clear the test </h2><br/>
                    <button type="button" (click)="goHome()"> Home</button>
               </div>
            </div>
            <div *ngIf="showReport">
            <h2 style="text-align: center;">Report</h2>
            <div class="container">
               
                    <h3>User Details:</h3><br/>

                    <p>Name : {{showReport.name}}</p>
                    <p>Email ID : {{showReport.email}}</p>
                    <p>Mobile : {{showReport.mobile}}</p>
                    <p>City : {{showReport.city}}</p>
                    <p>State : {{showReport.state}}</p>
                    <p>Qualification : {{showReport.qualification}}</p><br/>

                    <h3>Test Details:</h3><br/>
                    <p>Subject : {{showReport.subjecName}}</p>
                    <p>Cleared Level : {{showReport.level}}</p>
                    <p>Score : {{showReport.testScore}}</p>
                    <p>Out Of : {{showReport.totalScore}}</p>
                    <p>Percentage : {{percentage}}</p>
                </div>
            </div>
        </div>
    </div>
</div>