<div class="topnav">
    <ul>
      <li><a routerLink='home'>Home</a></li>
      <li><a routerLink='login'>Login</a></li>
      <li><a routerLink='register'>Register</a></li>
      <li><img src="assets\images\exam.jpg" style="float: right; padding-right: 20px; padding-bottom: 20px; height:80px"></li>
    </ul>
  </div>

  <div class="row">
    <div class="main">
      <div class="card">
        <form (ngSubmit)="report()">
          <div class="container">
            <button type="submit">Report</button>
            <button type="submit">New Exam</button>
          </div>
        </form>
      </div>
    </div>
  </div>
