<div class="row">
    <div class="main">
      <div class="card">
        <h2 style="text-align: center;">Add Question </h2>
        <form (ngSubmit)="register()">
          <div class="container">
            <label for="Enter question name"><b>Question Name</b></label>
            <input type="text" name="t1" [(ngModel)]=question.questionName />
  
            <label for="Enter option1"><b>Option1</b></label>
            <input type="text" name="t2" [(ngModel)]=question.option1 />
  
            <label for="Enter option2"><b>Option2</b></label>
            <input type="text" name="t3" [(ngModel)]=question.option2 />
  
            <label for="Enter option3"><b>Option3</b></label>
            <input type="text" name="t4" [(ngModel)]=question.option3 />
  
            <label for="Enter option4"><b>Option4</b></label>
            <input type="text" name="t5" [(ngModel)]=question.option4 />
  
            <label for="Correct answer"><b>Correct Answer</b></label>
            <input type="text" name="t6" [(ngModel)]=question.correctAnswer /> <br/><br/>
  
            <label for="Enter marks"><b>Marks</b></label>
            <input type="text" name="t7" [(ngModel)]=question.marks />
  
            <label for="Enter level "><b>Level</b></label>
            <input type="text" name="t8" [(ngModel)]=question.level />
  
  
            <button type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
