<div class="row">
    <div class="main">
        <div class="card">
            <h2 style="text-align: center;">Subjects Available to give test</h2>
            <div class="container">
                <table class="table table-bordered">
                    <tr *ngIf="subject">
                        <th>Subject</th>&nbsp;&nbsp;&nbsp;
                        
                        
                    </tr>
                    <tr *ngFor="let sub of subject">
                        <td>{{sub.subjecName}}</td>
                        
                       
                        <td><button type="button" (click)="startTest(sub)"> Start test</button></td>
                    </tr>
                </table>
                <br/><br/><br/><br/>
          <div style="text-align:right;"><a routerLink='/login' (click)="logout()">Logout</a></div>
            </div>
        </div>
    </div>
</div>