<!-- <p>admin-dashboard works!</p>
<div id="form">
  <h2>Online Exam System</h2>
  <a routerLink="/register">Student Area</a> Student Registration<br>
  <a routerLink="/login">Admin Area</a> Admin Login<br>
</div> -->
<div class="row">
  <div class="main">
    <div class="card">
      
        <div class="container">
          <button type="button" (click)="report()">View Reports</button>
          <button type="button" (click)="newTest()">Add Questions</button>
          <button type="button" (click)="newTest()">Remove Questions</button>
        </div>
      
    </div>
  </div>
</div>
