<div class="row">

  <div class="main">

    <div class="card">

      <div class="container">

        <button type="button" (click)="viewGraph()">Graphical Reports</button>

        <button type="button" (click)="byTechnology()">View Reports by Technology</button>

        <button type="button" (click)="byLevel()">View Reports by Level</button>

        <button type="button" (click)="custom()">View Reports by Custom Options</button>

      </div>

    </div>

  </div>

</div>


<!-- <p>admin-dashboard works!</p>
<div id="form">
  <h2>Online Exam System</h2>
  <a routerLink="/register">Student Area</a> Student Registration<br>
  <a routerLink="/login">Admin Area</a> Admin Login<br>
</div> -->